﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px;
        line-height: 1.428571;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
</style>

<!-- All Orders Block -->
<div class="block full">
    <!-- All Orders Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="#modal-regular2" class="btn btn-sm btn-primary" data-toggle="modal"><i class="fa fa-plus"></i> Add New Item</a><br>
        </div>
        <h2><strong>All Menu List</strong></h2>
    </div>
    <table id="ecom-orders" class="table table-bordered table-hover table-striped table-vcenter">

        <thead>
            <!--style=" background: #1BBAE1;"-->
            <tr>
                <th>SL#</th>
                <th>Menu Id</th>
                <th>Parent Id</th>
                <th>Manu Name</th>
                <th>Controller </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @*@if (item.Status == "Active")
                                {<span class="label label-success">@item.Status</span> }
                            else
                            {<span class="label label-danger">@item.Status</span>}*@
                    </td>
                    <td>
                        <a data-target="#modal-regular2" onclick="GetDetails()" class="btn btn-sm btn-primary" data-toggle="modal"><i class="fa fa-edit"></i></a>
                        <a href="#" class="btn btn-sm btn-default"><i class="fa fa-info"></i></a>
                        <a href="@Url.Action("Delete",new {  })" class="btn btn-sm btn-danger" onclick="return confirm('Are You Sure to Delete?')"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            
        </tbody>

    </table>
    <!-- Regular Modal 2 -->
    
</div>

<script src="~/Assets/js/vendor/jquery.min.js"></script>
@section Scripts{
    <script>
        function GetDetails(id) {
            $.ajax({
                url: "/Item/Edit/" + id,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    $("#btnAddEdit").text("Update");
                    $('#id').val(response.Id);
                    $('#Category').val(response.CategoryId);
                    $('#SubCategorydrop').val(response.SubCategory.SubCategoryId);
                    $('#txtProductName').val(response.ProductName);
                    $('#selectStatus').val(response.Status);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            return false;
        }


        function AddEdit() {
            var emailAccount = {
                Id: $("#id").val(),
                EmailId: $("#txtEmail").val(),
                Server: $("#txtServer").val(),
                SmtpPort: $("#txtPort").val(),
                Password: $("#txtPassword").val(),
                Status: $("#selectStatus option:selected").val()
            };

            $.ajax({
                async: true,
                type: 'POST',
                url: '/Setting/EmailInfo',
                contentType: 'application/json; charset=utf=8',
                data: JSON.stringify(emailAccount),
                success: function (data) {
                    //alert(data +"Successfully Saved");
                    $("#msg").text("Saved Successfully");
                    Reset();
                },
                error: function () {
                    alert("Saved Fail");
                }
            });
            function Reset() {
                $("#txtEmail").val('')
            }
        }

        $(function () {
            EcomOrders.init();
        });

        var EcomOrders = function () {

            return {
                init: function () {
                    /* Extend with date sort plugin */
                    $.extend($.fn.dataTableExt.oSort, {
                        "date-custom-pre": function (a) {
                            var customDate = a.split('/');
                            return (customDate[2] + customDate[1] + customDate[0]) * 1;
                        },

                        "date-custom-asc": function (a, b) {
                            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                        },

                        "date-custom-desc": function (a, b) {
                            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                        }
                    });

                    /* Initialize Bootstrap Datatables Integration */
                    App.datatables();

                    /* Initialize Datatables */
                    $('#ecom-orders').dataTable({
                        columnDefs: [
                            { type: 'date-custom', targets: [3] },
                            { orderable: false, targets: [3] }
                        ],
                        order: [[1, "desc"]],
                        pageLength: 20,
                        lengthMenu: [[10, 20, 30, -1], [10, 20, 30, 'All']],
                        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                            //debugger;
                            var index = iDisplayIndexFull + 1;
                            $("td:first", nRow).html(index);
                            return nRow;
                        },
                    });

                    /* Add placeholder attribute to the search input */
                    $('.dataTables_filter input').attr('placeholder', 'Search');
                }
            };
        }();
    </script>
}


