﻿@model IEnumerable<HRMS.Models.MenuSetup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<div class="block full">
    <!-- All Orders Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="#modal-regular2" class="btn btn-sm btn-primary" data-toggle="modal"><i class="fa fa-plus"></i> Add New Item</a><br>
        </div>
        <h2><strong>All Menu List</strong></h2>
    </div>
    <div class="table-responsive">
        <table id="ecom-orders" class="table table-bordered table-hover table-striped table-vcenter">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>
                        @Html.DisplayNameFor(model => model.M_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.M_P_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.M_NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CONTROLLER_NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ACTION_NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Module)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Area)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.M_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.M_P_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.M_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CONTROLLER_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ACTION_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Module)
                        </td>
                        <td>
                            @if (item.Status == "Active")
                            {
                                <span class="label label-success">@item.Status</span>
                            }
                            else
                            {
                                <span class="label label-danger">@item.Status</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Area)
                        </td>
                        <td>
                            <a data-target="#modal-regular2" onclick="GetDetails(@item.M_ID)" class="btn-xs btn-primary" data-toggle="modal"><i class="fa fa-edit"></i></a>
                            @*<a asp-action="Edit" asp-route-id="@item.M_ID">Edit</a>*@
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div id="modal-regular2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" @*onclick="javascript:window.location.reload()" *@ aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Menu Status Changed</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <input type="text" id="id" name="Id" hidden="hidden">
                        <label class="col-md-3 control-label" for="txtmid">Menu ID<span class="text-danger">*</span>:</label>
                        <div class="col-md-9">
                            <input type="text" id="txtmid" class="form-control" name="M_Id" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="txtmid">Menu Name<span class="text-danger">*</span>:</label>
                        <div class="col-md-9">
                            <input type="text" id="txtmid" class="form-control" name="M_Name" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="example-hf-email">Status:</label>
                        <div class="col-md-9">
                            <select class="form-control" id="selectStatus" name="Status">
                                <option value="Active">Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="window.location.reload()" class="btn btn-sm btn-default" data-dismiss="modal"><span style="color:orangered">Close</span> With Refresh</button>
                        <button type="submit" class="btn btn-sm btn-primary" id="btnAddEdit" onclick="AddEdit()">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="~/Assets/js/vendor/jquery.min.js"></script>
@section Scripts{
    <script>

        $(function () {
            EcomOrders.init();
        });

        var EcomOrders = function () {

            return {
                init: function () {
                    /* Extend with date sort plugin */
                    $.extend($.fn.dataTableExt.oSort, {
                        "date-custom-pre": function (a) {
                            var customDate = a.split('/');
                            return (customDate[2] + customDate[1] + customDate[0]) * 1;
                        },

                        "date-custom-asc": function (a, b) {
                            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                        },

                        "date-custom-desc": function (a, b) {
                            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                        }
                    });

                    /* Initialize Bootstrap Datatables Integration */
                    App.datatables();

                    /* Initialize Datatables */
                    $('#ecom-orders').dataTable({
                        columnDefs: [
                            { type: 'date-custom', targets: [3] },
                            { orderable: false, targets: [3] }
                        ],
                        order: [[1, "Asc"]],
                        pageLength: 20,
                        lengthMenu: [[10, 20, 30, -1], [10, 20, 30, 'All']],
                        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                            //debugger;
                            var index = iDisplayIndexFull + 1;
                            $("td:first", nRow).html(index);
                            return nRow;
                        },
                    });

                    /* Add placeholder attribute to the search input */
                    $('.dataTables_filter input').attr('placeholder', 'Search');
                }
            };
        }();
    </script>
}



