﻿@*@model Tuple<IEnumerable<SelectListItem>>*@

@{
    ViewData["Title"] = "MenuPermission";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="block full">
    <!-- All Orders Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="#modal-regular2" class="btn btn-sm btn-primary" data-toggle="modal"><i class="fa fa-plus"></i> Add New Item</a><br>
        </div>
        <h2><strong>All Menu List</strong></h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-2 control-label" for="val_skill">Select Role <span class="text-danger">*</span></label>
                <div class="col-md-6">
                    <select class="form-control" id="selectrole" asp-items="ViewBag.RoleId">
                        <option value="">--Select Role--</option>
                    </select>
                </div>
            </div>

        </div>

    </div>
    <hr />
    <table id="ecom-orders" class="table table-bordered table-hover table-striped table-vcenter">

        <thead>
            <!--style=" background: #1BBAE1;"-->
            <tr>
                <th>SL#</th>
                <th>Menu Id</th>
                <th>Parent Id</th>
                <th>Manu Name</th>
                <th>Controller </th>
                <th>Action</th>
                <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
            </tr>
        </thead>
        <tbody id="tablebody"></tbody>

    </table>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-actions" style="float:right">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-arrow-right"></i> Submit</button>
                <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>
            </div>
        </div>
    </div>

</div>





<script src="~/Assets/js/vendor/jquery.min.js"></script>
@section Scripts{
    <script>

        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }


        $("#selectrole").on("change", function () {
            var Id = $('#selectrole option:selected').val();
            var obj = { Id: Id };
            AjaxCall('/Menu/LoadMenu', JSON.stringify(obj), 'POST').done(function (response) {
                if (response.length > 0) {
                    $('#tablebody').html('');
                    var list = '';
                    //foreach (var item in ViewBag.Menulist) {

                    //list = "<tr><td>" +
                    //item.M_ID +
                    //"</td><td>" +
                    //item.M_P_ID +
                    //"</td><td>" +
                    //item.M_NAME +
                    //"</td><td>" +
                    //item.CONTROLLER_NAME +
                    //"</td><td>" +
                    //item.ACTION_NAME +
                    //"</td><td>" +
                    //item.Area +
                    //"</td><td><input type = 'button' value = 'remove' name = 'remove' class='btn btn-sm btn-warning' onclick = 'RemoveItem(this)' /></td></tr>";
                    //}

                    for (var i = 0; i < response.length; i++) {

                        list += '<tr><td>'
                            + response[i].Id +
                            '</td><td>' + '</td><td>' + '</td><td>' + '</td><td>' + '</td><td>' + '</td > <td><input type="checkbox" checked="checked" name="ID" value="" class="custom-checkbox chkCheckBoxId" /></td>' + '</td></tr>';
                    }


                    $('#tablebody').append(list);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });
        });


        $('#checkBoxAll').click(function () {
            if ($(this).is(":checked")) {
                $(".chkCheckBoxId").prop("checked", true)
            }
            else {
                $(".chkCheckBoxId").prop("checked", false)

            }
        });

        //$(function () {
        //    EcomOrders.init();
        //});

        var EcomOrders = function () {

            return {
                init: function () {
                    /* Extend with date sort plugin */
                    $.extend($.fn.dataTableExt.oSort, {
                        "date-custom-pre": function (a) {
                            var customDate = a.split('/');
                            return (customDate[2] + customDate[1] + customDate[0]) * 1;
                        },

                        "date-custom-asc": function (a, b) {
                            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                        },

                        "date-custom-desc": function (a, b) {
                            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                        }
                    });

                    /* Initialize Bootstrap Datatables Integration */
                    App.datatables();

                    /* Initialize Datatables */
                    $('#ecom-orders').dataTable({
                        columnDefs: [
                            { type: 'date-custom', targets: [3] },
                            { orderable: false, targets: [3] }
                        ],
                        order: [[1, "Asc"]],
                        pageLength: 20,
                        lengthMenu: [[10, 20, 30, -1], [10, 20, 30, 'All']],
                        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                            //debugger;
                            var index = iDisplayIndexFull + 1;
                            $("td:first", nRow).html(index);
                            return nRow;
                        },
                    });

                    /* Add placeholder attribute to the search input */
                    $('.dataTables_filter input').attr('placeholder', 'Search');
                }
            };
        }();
    </script>
}



