﻿@model HRMS.Models.EmailSetup
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/sweetAlert/sweetalert.css" rel="stylesheet" />
<!-- All Orders Block -->
<div class="block full">
    <!-- All Orders Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="#modal-regular2" class="btn btn-sm btn-primary" data-toggle="modal"><i class="fa fa-plus"></i> Add New Item</a><br>
        </div>
        <h2><strong>All Product List</strong></h2>
    </div>
    <table id="ecom-orders" class="table table-bordered table-hover table-striped table-vcenter">

        <thead>
            <tr>
                <th>SL#</th>
                <th>Email Address</th>
                <th>Server</th>
                <th>Port</th>
                <th>Add Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.EmailList)
            {
                <tr>
                    <td></td>
                    <td>@item.Email</td>
                    <td>@item.SmtpServer</td>
                    <td>@item.SmtpPort</td>
                    <td>@item.AddDate</td>
                    <td>
                        @if (item.Status == "Active")
                        {
                            <span class="label label-success">@item.Status</span>
                        }
                        else
                        {
                            <span class="label label-danger">@item.Status</span>
                        }
                    </td>
                    <td>
                        <a data-toggle="modal" onclick="GetDetails('@item.Email')" class="btn-xs btn-info"><i class="fa fa-edit"></i></a>
                        <a class="btn-xs btn-danger" onclick="DeleteRole(@item.Email)"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }


        </tbody>

    </table>
    <!-- Regular Modal 2 -->
    <div id="modal-regular2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" @*onclick="javascript:window.location.reload()" *@ aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Modal For Email setup</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <input type="text" id="id" name="Email" hidden="hidden">
                        <label class="col-md-3 control-label" for="txtEmail">Email Address<span class="text-danger">*</span>:</label>
                        <div class="col-md-9">
                            <input type="email" id="txtEmail" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="txtServer">Server<span class="text-danger">*</span>:</label>
                        <div class="col-md-9">
                            <input type="text" id="txtServer" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="txtPort">Port<span class="text-danger">*</span>:</label>
                        <div class="col-md-9">
                            <input type="text" id="txtPort" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="txtPort">Password<span class="text-danger">*</span>:</label>
                        <div class="col-md-9">
                            <input type="password" id="txtPassword" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="txtconfirmPassword">Confirm Password<span class="text-danger">*</span>:</label>
                        <div class="col-md-9">
                            <input type="password" id="txtconfirmPassword" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="example-hf-email">Status:</label>
                        <div class="col-md-9">
                            <select class="form-control" id="selectStatus" name="Status">
                                <option value="Active">Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @*<p id="msg" style="color:green"></p>*@
                        <button type="button" onclick="window.location.reload()" class="btn btn-sm btn-default" data-dismiss="modal"><span style="color:orangered">Close</span> With Refresh</button>
                        <button type="submit" class="btn btn-sm btn-primary" id="btnAddEdit" onclick="AddEdit()">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Regular Modal 2 -->
    </div>
</div>

<script src="~/sweetAlert/sweetalert.min.js"></script>
<script src="~/Assets/js/vendor/jquery.min.js"></script>
@section Scripts{
    <script>
        function GetDetails(id) {
            debugger;
            $.ajax({
                url: "/Email/Edit/" + id,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    $("#btnAddEdit").text("Update");
                    $("#modal-regular2").modal('show');
                    $('#id').val(response.Email);
                    $('#txtEmail').val(response.Email);
                    $('#txtServer').val(response.SmtpServer);
                    $('#txtPort').val(response.SmtpPort);
                    $('#selectStatus').val(response.Status);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            return false;
        }


        function AddEdit() {
            var email = {
                //Email: $("#id").val(),
                Email: $("#txtEmail").val(),
                SmtpServer: $("#txtServer").val(),
                SmtpPort: $("#txtPort").val(),
                Password: $("#txtPassword").val(),
                Status: $("#selectStatus option:selected").val()
            };

            $.ajax({
                type: 'POST',
                url: '/Email/AddEdit',
                contentType: 'application/json; charset=utf=8',
                data: JSON.stringify(email),
                success: function (data) {
                    swal({
                        text: "Saved Successfully!",
                        type: "success",
                        closeOnConfirm: true
                    });
                },
                error: function () {
                    swal({
                        title: "Fail",
                        text: "Data Is Not Saved!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        //confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    });
                }
            });

            function Reset() {
                $("#txtEmail").val('')
            }
        }

        $(function () {
            EcomOrders.init();
        });

        var EcomOrders = function () {

            return {
                init: function () {
                    /* Extend with date sort plugin */
                    $.extend($.fn.dataTableExt.oSort, {
                        "date-custom-pre": function (a) {
                            var customDate = a.split('/');
                            return (customDate[2] + customDate[1] + customDate[0]) * 1;
                        },

                        "date-custom-asc": function (a, b) {
                            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                        },

                        "date-custom-desc": function (a, b) {
                            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                        }
                    });

                    /* Initialize Bootstrap Datatables Integration */
                    App.datatables();

                    /* Initialize Datatables */
                    $('#ecom-orders').dataTable({
                        columnDefs: [
                            { type: 'date-custom', targets: [3] },
                            { orderable: false, targets: [3] }
                        ],
                        order: [[1, "desc"]],
                        pageLength: 20,
                        lengthMenu: [[10, 20, 30, -1], [10, 20, 30, 'All']],
                        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                            //debugger;
                            var index = iDisplayIndexFull + 1;
                            $("td:first", nRow).html(index);
                            return nRow;
                        },
                    });

                    /* Add placeholder attribute to the search input */
                    $('.dataTables_filter input').attr('placeholder', 'Search');
                }
            };
        }();
    </script>
}
