﻿@model HRMS.Models.UserInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Log</title>

    <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="img/icon180.png" sizes="180x180">
    <!-- END Icons -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="~/Assets/css/plugins.css">
    <link rel="stylesheet" href="~/Assets/css/main.css">
    <link rel="stylesheet" href="~/Assets/css/themes.css">
    <!-- END Stylesheets -->
    <!-- Modernizr (browser feature detection library) -->
    <script src="~/Assets/js/vendor/modernizr.min.js"></script>
</head>


<body>
    <!-- Login Full Background -->
    <!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) -->
    <img src="~/Assets/img/placeholders/backgrounds/login_full_bg.jpg" alt="Login Full Background" class="full-bg animation-pulseSlow">
    <!-- END Login Full Background -->
    <!-- Login Container -->

    <div id="login-container">
        <!-- Login Title -->
        <div class="login-title text-center" style="background: gainsboro;">
            @*<img src="~/UploadedImage/Muad logo-02.png" width="80" />*@
            @*@Html.Partial("companyLogo", "Webhome")*@
            <h1><i class="gi gi-flash"></i> <strong>Logo</strong><br><small>Please <strong>Login</strong> or <strong>Register</strong></small></h1>
        </div>
        <!-- END Login Title -->
        <!-- Login Block -->
        <div class="block push-bit">
            <!-- Login Form -->
            <form asp-action="Login" id="form-login" class="form-horizontal form-bordered form-control-borderless">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                            <input asp-for="UserId" type="text" class="form-control input-lg" placeholder="User ID" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                            <input asp-for="Password" class="form-control input-lg" Type="password" placeholder="Password" />
                        </div>
                    </div>
                </div>

                <div class="form-group form-actions">
                    <div class="col-xs-4">
                        <label class="switch switch-primary" data-toggle="tooltip" title="Remember Me?">
                            <input type="checkbox" id="login-remember-me" name="login-remember-me" checked>
                            <span></span>
                        </label>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Login</button>
                    </div>
                </div>
                <div class="form-group">
                    <p style="color:red;">@ViewBag.Message</p>
                    <div class="col-xs-12 text-center">
                        <a href="#" id=""><small>Forgot password?</small></a> -
                        <a href="#" id=""><small>Create a new account</small></a>
                    </div>
                </div>

            </form>
            <!-- END Login Form -->
            <!-- Reminder Form -->
            <form action="login_full.html#reminder" method="post" id="form-reminder" class="form-horizontal form-bordered form-control-borderless display-none">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                            <input type="text" id="reminder-email" name="reminder-email" class="form-control input-lg" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Reset Password</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <small>Did you remember your password?</small> <a href="javascript:void(0)" id="link-reminder"><small>Login</small></a>
                    </div>
                </div>
            </form>
            <!-- END Reminder Form -->
        </div>
        <!-- END Login Block -->
    </div>
    <!-- END Login Container -->
    <!-- Modal Terms -->
    <!-- END Modal Terms -->
    <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
    <script src="~/Assets/js/vendor/jquery.min.js"></script>
    <script src="~/Assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/Assets/js/plugins.js"></script>
    <script src="~/Assets/js/app.js"></script>

    <!-- Load and execute javascript code used only in this page -->
    <script src="~/Assets/js/pages/login.js"></script>
    <script>$(function () { Login.init(); });</script>
</body>

</html>


