﻿@model HRMS.Models.UserInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Customer Content -->
<div class="row">
    <div class="col-lg-12">
        <!-- Customer Info Block -->
        <div class="block">
            <!-- Customer Info Title -->
            <div class="block-title">
                <div class="block-options pull-right">
                    <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@Model.UserId"><i class="fa fa-edit"></i> Edit</a>
                    <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa fa-arrow-left"></i>Back to List</a><br>
                </div>
                <h2><i class="fa fa-file-o"></i> <strong>User</strong> Info</h2>
            </div>
            <!-- END Customer Info Title -->
            <!-- Customer Info -->
            <div class="block-section text-center">
                <a href="javascript:void(0)">
                    <img src="~/Assets/img/placeholders/avatars/avatar4@2x.jpg" alt="avatar" class="img-circle">
                </a>
                <h3>
                    <strong>@Html.DisplayFor(model => model.FullName)</strong><br><small></small>
                </h3>
            </div>
            <table class="table table-borderless table-striped table-vcenter">
                <tbody>
                    <tr>
                        <td class="text-right" style="width: 50%;"><strong>Full Name</strong></td>
                        <td> @Html.DisplayFor(model => model.UserId)</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Email</strong></td>
                        <td> @Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Phone</strong></td>
                        <td>@Html.DisplayFor(model => model.Phone)</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Mobile</strong></td>
                        <td>@Html.DisplayFor(model => model.Mobile)</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Employee Id</strong></td>
                        <td> @Html.DisplayFor(model => model.EmployeeId)</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Role</strong></td>
                        <td><span class="label label-primary">@Html.DisplayFor(model => model.RoleId)</span></td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Company</strong></td>
                        <td><span class="label label-primary">@Html.DisplayFor(model => model.ComId)</span></td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Address</strong></td>
                        <td>@Html.DisplayFor(model => model.Address)</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Add Date</strong></td>
                        <td>@Html.DisplayFor(model => model.AddDate)</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Added By</strong></td>
                        <td>@Html.DisplayFor(model => model.AddedBy)</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Status</strong></td>
                        <td>
                            @if (Model.Status == "Active")
                            {
                                <span class="label label-success"><i class="fa fa-check"></i> @Html.DisplayFor(model => model.Status)</span>
                            }
                            else if (Model.Status == "Pending")
                            {
                                <span class="label label-default">@Html.DisplayFor(model => model.Status)</span>
                            }
                            else
                            {
                                <span class="label label-danger">@Html.DisplayFor(model => model.Status)</span>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- END Customer Info -->
    </div>
    <!-- END Customer Info Block -->
</div>



