﻿@model IEnumerable<HRMS.Models.UserInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="block full">
    <!-- All Orders Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a asp-action="Create" class="btn btn-sm btn-primary" data-toggle="modal"><i class="fa fa-plus"></i> Add New </a><br>
        </div>
        <h2><strong>All Users List</strong></h2>
    </div>
    <table id="ecom-orders" class="table table-bordered table-hover table-striped table-vcenter">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComId)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.AddDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EditDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApprovedBy)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComId)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.AddDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EditDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddedBy)
                    </td>
                    <td>
                        @if (item.Status == "Active")
                        {
                            <span class="label label-success">@item.Status</span>
                        }
                        else if (item.Status == "Pending")
                        {
                            <span class="label label-default">@item.Status</span>
                        }
                        else
                        {
                            <span class="label label-danger">@item.Status</span>
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApprovedBy)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserId" class="btn-xs btn-primary" data-toggle="tooltip"  data-original-title="Edit"><i class="fa fa-edit"></i></a>
                        <a asp-action="Details" asp-route-uid="@item.UserId" class="btn-xs btn-primary"  data-toggle="tooltip" title="" data-original-title="View"><i class="fa fa-eye"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.UserId" class="btn-xs btn-danger" data-toggle="tooltip"  data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Assets/js/vendor/jquery.min.js"></script>
@section Scripts{
    <script>

        $(function () {
            EcomOrders.init();
        });

        var EcomOrders = function () {

            return {
                init: function () {
                    /* Extend with date sort plugin */
                    $.extend($.fn.dataTableExt.oSort, {
                        "date-custom-pre": function (a) {
                            var customDate = a.split('/');
                            return (customDate[2] + customDate[1] + customDate[0]) * 1;
                        },

                        "date-custom-asc": function (a, b) {
                            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                        },

                        "date-custom-desc": function (a, b) {
                            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                        }
                    });

                    /* Initialize Bootstrap Datatables Integration */
                    App.datatables();

                    /* Initialize Datatables */
                    $('#ecom-orders').dataTable({
                        columnDefs: [
                            { type: 'date-custom', targets: [3] },
                            { orderable: false, targets: [3] }
                        ],
                        order: [[1, "Asc"]],
                        pageLength: 20,
                        lengthMenu: [[10, 20, 30, -1], [10, 20, 30, 'All']],
                        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                            //debugger;
                            var index = iDisplayIndexFull + 1;
                            $("td:first", nRow).html(index);
                            return nRow;
                        },
                    });

                    /* Add placeholder attribute to the search input */
                    $('.dataTables_filter input').attr('placeholder', 'Search');
                }
            };
        }();
    </script>
}



