﻿@model HRMS.Models.RoleSetup
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>


    /*.custom-loader {
        animation: none !important;
        border-width: 0 !important;
    }*/
</style>

<link href="~/sweetAlert/sweetalert.css" rel="stylesheet" />
<script src="~/sweetAlert/sweetalert.min.js"></script>
<!-- All Orders Block -->
<div class="block full">
    <!-- All Orders Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="#modal-regular2" class="btn btn-sm btn-primary" data-toggle="modal"><i class="fa fa-plus"></i> Add New Item</a><br>
        </div>
        <h2><strong>All Product List</strong></h2>
    </div>
    <table id="ecom-orders" class="table table-bordered table-hover table-striped table-vcenter">

        <thead>
            <tr>
                <th>SL#</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.RoleList)
            {
                <tr>
                    <td></td>
                    <td>@item.RoleName</td>
                    <td>
                        @if (item.Status == "Active")
                        {
                            <span class="label label-success">@item.Status</span>
                        }
                        else
                        {
                            <span class="label label-danger">@item.Status</span>
                        }
                    </td>
                    <td>
                        <a data-toggle="modal" onclick="GetDetails('@item.Id')" class="btn-xs btn-info"><i class="fa fa-edit"></i></a>
                        <a class="btn-xs btn-danger" onclick="DeleteRole(@item.Id)"><i class="fa fa-trash"></i></a>
                        @*<input id = "Delete" onclick="DeleteRole('@item.Id')" type = "button" value = "Delete" />*@
                    </td>
                </tr>
            }


        </tbody>

    </table>




    <!-- Regular Modal 2 -->
    <div id="modal-regular2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" @*onclick="javascript:window.location.reload()" *@ aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Role Setup</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <input type="text" id="id" name="Id" hidden="hidden">
                        <label class="col-md-3 control-label" for="txtrole">Role Name<span class="text-danger">*</span>:</label>
                        <div class="col-md-9">
                            <input type="text" id="txtrole" class="form-control" asp-for="RoleName" name="RoleName" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label" for="example-hf-email">Status:</label>
                        <div class="col-md-9">
                            <select class="form-control" id="selectStatus" asp-for="Status" name="Status">
                                <option value="Active">Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @*<p id="msg" style="color:green"></p>*@
                        <button type="button" onclick="window.location.reload()" class="btn btn-sm btn-default" data-dismiss="modal"><span style="color:orangered">Close</span> With Refresh</button>
                        <button type="submit" class="btn btn-sm btn-primary" id="btnAddEdit" onclick="AddEdit()">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*@if (TempData["notification"] != null)
    {
        @Html.Raw(TempData["notification"])
    }*@
</div>




<script src="~/Assets/js/vendor/jquery.min.js"></script>
@section Scripts{

    <script>
        $(document).bind("contextmenu", function (e) {
            e.preventDefault();
        });

        $(document).keydown(function (e) {
            if (e.which === 123) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'H'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'A'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)) {
                return false;
            }
        });

        function DeleteRole(Id) {
            debugger;
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
                function () {
                    $.ajax({
                        url: "/Role/Delete/",
                        data: { "Id": Id },
                        type: "DELETE"
                    })
                        .done(function (data) {
                            sweetAlert
                                ({
                                    title: "Deleted!",
                                    text: "Your file was successfully deleted!",
                                    type: "success"
                                },
                                function () {
                                    window.location.href = '/Role/Index';
                                });
                        })
                        .error(function (data) {
                            swal("Oops", "We couldn't connect to the server!", "error");
                        });
                });

            //function () {
            //    swal("Deleted!", "Your imaginary file has been deleted.", "success");
            //});
        }



        function GetDetails(id) {
            $.ajax({
                url: "/Role/Edit/" + id,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    $("#btnAddEdit").text("Update");
                    $("#modal-regular2").modal('show');
                    $("#id").val(response.Id);
                    $("#txtrole").val(response.RoleName);
                    $("#selectStatus option:selected").val(response.Status);


                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        };


        function AddEdit() {
            var roleSetup = {
                RoleName: $("#txtrole").val(),
                Status: $("#selectStatus option:selected").val()
            };

            $.ajax({
                url: "/Role/Create",
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf=8",
                data: JSON.stringify(roleSetup),
                success: function (data) {
                    swal({
                        text: "Saved Successfully!",
                        type: "success",
                        closeOnConfirm: true
                    }),

                        Reset();
                },
                error: function () {
                    //alert("Saved Fail");
                    swal({
                        title: "Fail",
                        text: "Data Is Not Saved!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    });

                }
            });
            function Reset() {
                $("#txtrole").val('')
            }
        }

        $(function () {
            EcomOrders.init();
        });

        var EcomOrders = function () {

            return {
                init: function () {
                    /* Extend with date sort plugin */
                    $.extend($.fn.dataTableExt.oSort, {
                        "date-custom-pre": function (a) {
                            var customDate = a.split('/');
                            return (customDate[2] + customDate[1] + customDate[0]) * 1;
                        },

                        "date-custom-asc": function (a, b) {
                            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                        },

                        "date-custom-desc": function (a, b) {
                            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                        }
                    });

                    /* Initialize Bootstrap Datatables Integration */
                    App.datatables();

                    /* Initialize Datatables */
                    $('#ecom-orders').dataTable({
                        columnDefs: [
                            { type: 'date-custom', targets: [3] },
                            { orderable: false, targets: [3] }
                        ],
                        order: [[1, "desc"]],
                        pageLength: 20,
                        lengthMenu: [[10, 20, 30, -1], [10, 20, 30, 'All']],
                        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                            //debugger;
                            var index = iDisplayIndexFull + 1;
                            $("td:first", nRow).html(index);
                            return nRow;
                        },
                    });

                    /* Add placeholder attribute to the search input */
                    $('.dataTables_filter input').attr('placeholder', 'Search');
                }
            };
        }();
    </script>
}
