﻿<form class="form-horizontal">
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group row">
                <label class="col-md-3 control-label" for="CategoryName">Company</label>
                <div class="col-md-9">

                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 control-label" for="CategoryName">Logo</label>
                <div class="col-md-4">
                    <div class="btn btn-primary">
                        <input type="file" id="imageBrowes" />
                    </div>
                    <hr />

                    <div id="imgPreview" class="thumbnail" style="display:none">
                        <img class="img-responsive" id="targetImg" />
                        <div class="caption">
                            <a href="#" onclick="ClearPreview()"><i class=" fa fa-trash"></i></a>
                            <span id="description"></span>
                        </div>
                        <a href="#" class="btn btn-default" onclick="Uploadimage()">Upload</a>
                    </div>

                </div>
                <div class="col-md-2 thumbnail" id="uploadedImage" style="display:none">


                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>@ViewBag.Message</p>
                </div>
            </div>

        </div>
    </div>
</form>
