﻿@model HRMS.Models.ComInfo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="block full">
    <!-- Tickets Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>Back To List </a>
        </div>
        <ul class="nav nav-tabs" data-toggle="tabs">
            <li class="active"><a href="#tickets-list">Company Info</a></li>
            <li><a href="#tickets-single">Change Logo</a></li>
        </ul>
    </div>
    <!-- END Tickets Title -->
    <!-- Tabs Content -->
    <div class="tab-content">
        <!-- Tickets List -->
        <div class="tab-pane active" id="tickets-list">
            <div class="block-content">

                <div class="form-horizontal">

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-10">
                                <span style="color:red">[Your Company Id must be unique and red star mark label is mandatory]</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ComId" class="control-label col-md-2">Company Id<span class="text-danger">*</span></label>
                            <div class="col-md-8">
                                <input asp-for="ComId" class="form-control" />
                                <span asp-validation-for="ComId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ComName" class="control-label col-md-2">Company Name<span class="text-danger">*</span></label>
                            <div class="col-md-8">
                                <input asp-for="ComName" class="form-control" />
                                <span asp-validation-for="ComName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label col-md-2"></label>
                            <div class="col-md-8">
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Mobile" class="control-label col-md-2"></label>
                            <div class="col-md-8">
                                <input asp-for="Mobile" class="form-control" />
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label col-md-2"></label>
                            <div class="col-md-8">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label col-md-2"></label>
                            <div class="col-md-8">
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Location" class="control-label col-md-2"></label>
                            <div class="col-md-8">
                                <input asp-for="Location" class="form-control" />
                                <span asp-validation-for="Location" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Slogan" class="control-label col-md-2"></label>
                            <div class="col-md-8">
                                <input asp-for="Slogan" class="form-control" />
                                <span asp-validation-for="Slogan" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Status" class="control-label col-md-2"></label>
                            <div class="col-md-8">
                                <input asp-for="Status" class="form-control" />
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success" />
                                <input type="button" value="Reset" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <!-- END Tickets List -->
        <!-- Ticket View -->
        <div class="tab-pane" id="tickets-single">
            @await Html.PartialAsync("_logo")
        </div>
        <!-- END Tabs Content -->
    </div>
</div>
