﻿@model HRMS.Models.ComInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="block full">
    <!-- All Orders Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a asp-action="Edit"  class="btn btn-sm btn-primary" asp-route-id="@Model.ComId"><i class="fa fa-edit"></i>Edit</a>
            <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa fa-arrow-left"></i>Back to List</a>
        </div>
        <h2><strong>Company Details Info</strong></h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Active Theme Color Widget -->
            <div class="widget">
                <div class="widget-advanced">
                    <!-- Widget Header -->
                    <div class="widget-header text-center themed-background-dark">
                        <h3 class="widget-content-light">
                            <a href="#" class="themed-color"> @Html.DisplayFor(model => model.ComName)</a><br>
                            <small> @Html.DisplayFor(model => model.Address)</small>
                        </h3>
                    </div>
                    <!-- END Widget Header -->
                    <!-- Widget Main -->
                    <div class="widget-main">
                        <a href="page_ready_user_profile.html" class="widget-image-container">
                            <img src="~/Assets/img/placeholders/avatars/avatar6.jpg" alt="avatar" class="widget-image img-circle">
                        </a>
                        <div class="row text-center">
                            <div class="col-xs-4">
                                
                            </div>
                            <div class="col-xs-4">
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.ComName)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.ComName)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Phone)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Phone)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Mobile)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Mobile)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Email)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Address)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Address)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Location)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Location)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Logo)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Logo)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Slogan)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Slogan)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Adddate)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Adddate)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.AddedBy)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.AddedBy)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Status)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-xs-4">
                                
                            </div>
                        </div>
                    </div>
                    <!-- END Widget Main -->
                </div>
            </div>
            <!-- END Advanced Active Theme Color Widget -->
        </div>
    </div>
</div>

