﻿
@model IEnumerable<HRMS.Models.MenuSetup>
<!-- Sidebar Navigation -->
<ul class="sidebar-nav">

    @{foreach (var item in (Model.Where(m => m.M_P_ID == 0).GroupBy(obj => new { obj.M_ID }).Distinct().ToList()))
        {
            <li>
                @if (@item.FirstOrDefault().M_NAME == "Dashboard")
                {

                    <a href="/Dashboard/Index" class="sidebar-nav-menu">
                        <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-cogwheel sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">@item.FirstOrDefault().M_NAME</span>

                    </a>
                }
                else
                {
                    <a href="#" class="sidebar-nav-menu">
                        <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-cogwheel sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">@item.FirstOrDefault().M_NAME</span>

                    </a>
                    <ul>
                        @{foreach (var submenu in Model.Where(s => s.M_P_ID == item.FirstOrDefault().M_ID).ToList())
                            {
                                <li>
                                    <a href="/@submenu.CONTROLLER_NAME/@submenu.ACTION_NAME">@submenu.M_NAME</a>

                                    @*<ul>
                                            @{foreach (var action in Model.Where(a => a.M_P_ID == submenu.M_ID).ToList())
                                                {
                                                    <li>
                                                        <a href="/@action.CONTROLLER_NAME/@action.ACTION_NAME">
                                                            @action.M_NAME
                                                        </a>

                                                    </li>
                                                }

                                            }
                                        </ul>*@
                                </li>
                            }
                        }


                    </ul>

                }

            </li>
        }

    }

</ul>
<!-- END Sidebar Navigation -->
@*<!-- Sidebar Navigation -->
    <ul class="sidebar-nav">
        <li class="active">
            <a asp-area="Admin" asp-action="Index" asp-controller="Dashboard"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
        </li>
        <li>
            <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-cogwheel sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Settings</span></a>
            <ul>
                <li>@Html.ActionLink("Menu Setup", "Index", "Menu")</li>
                <li>@Html.ActionLink("Menu Permission", "Index", "Menu")</li>
                <li>@Html.ActionLink("Users", "Index", "Authenticate")</li>
                <li>@Html.ActionLink("Company", "Index", "Company")</li>
                <li>@Html.ActionLink("Email Setup", "EmailInfo", "Setting")</li>
                <li>@Html.ActionLink("Role Setup", "RoleInfo", "Setting")</li>
            </ul>
        </li>

        <li>
            <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-package sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Catalog</span></a>
            <ul>
                <li>@Html.ActionLink("Add Product", "Create", "Product")</li>
                <li>@Html.ActionLink("Product List", "Index", "Product")</li>
            </ul>
        </li>

    </ul>

    <!-- END Sidebar Navigation -->*@
















@*<li>
        <a href="@Url.Action("Index", "Dashboard")" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-cogwheel sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>

    </li>*@
@*<li>
        <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-cogwheel sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Configuration</span></a>
        <ul>
            <li>@Html.ActionLink("Menu Setup", "Index", "Menu")</li>
            <li>@Html.ActionLink("Menu Permission", "Index", "Menu")</li>
            <li>@Html.ActionLink("Role Setup", "Index", "Role")</li>
            <li>@Html.ActionLink("Email Info", "EmailInfo", "Setting")</li>
            <li>@Html.ActionLink("User Info", "Index", "User")</li>
            <li>@Html.ActionLink("Company", "Index", "Company")</li>
        </ul>
    </li>*@