﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Quick Stats -->
<div class="row text-center">
    <div class="col-sm-6 col-lg-3">
        <a href="javascript:void(0)" class="widget widget-hover-effect2">
            <div class="widget-extra themed-background">
                <h4 class="widget-content-light"><strong>Total</strong> Employees</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 animation-expandOpen">3</span></div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3">
        <a href="javascript:void(0)" class="widget widget-hover-effect2">
            <div class="widget-extra themed-background-dark">
                <h4 class="widget-content-light"><strong>Conversion</strong> Rate</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">4.7%</span></div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3">
        <a href="javascript:void(0)" class="widget widget-hover-effect2">
            <div class="widget-extra themed-background-dark">
                <h4 class="widget-content-light"><strong>Employees</strong> Today</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">120</span></div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3">
        <a href="javascript:void(0)" class="widget widget-hover-effect2">
            <div class="widget-extra themed-background-dark">
                <h4 class="widget-content-light"><strong>Earnings</strong> Today</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">$ 4.250</span></div>
        </a>
    </div>
</div>
<!-- END Quick Stats -->
<div class="row">
    <div class="col-sm-4 col-lg-3">
        <!-- Menu Block -->
        <div class="block full">
            <!-- Menu Title -->
            <div class="block-title clearfix">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Settings"><i class="fa fa-cog"></i></a>
                </div>
                <h2><i class="fa fa-ticket"></i> Manage <strong>Employee</strong></h2>
            </div>
            <!-- END Menu Title -->
            <!-- Menu Content -->
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="javascript:void(0)">
                        <span class="badge pull-right">@ViewBag.CountTotalOrder</span>
                        <i class="fa fa-ticket fa-fw"></i> <strong>All</strong>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span class="badge pull-right">@ViewBag.CountPendingOrder</span>
                        <i class="fa fa-exclamation-triangle fa-fw"></i> <strong>Pending</strong>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span class="badge pull-right">@ViewBag.CountReceivedOrder</span>
                        <i class="fa fa-folder-open-o fa-fw"></i> <strong>Received</strong>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span class="badge pull-right">@ViewBag.CountDeliverdOrder</span>
                        <i class="fa fa-folder-o fa-fw"></i> <strong>Delivered</strong>
                    </a>
                </li>
            </ul>
            <!-- END Menu Content -->

        </div>
        <div class="block full">
            <!-- Menu Title -->
            <div class="block-title clearfix">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Settings"><i class="fa fa-cog"></i></a>
                </div>
                <h2><i class="gi gi-charts"></i> Manage <strong>Employee</strong></h2>
            </div>
            <!-- END Menu Title -->
            <!-- Menu Content -->
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="javascript:void(0)">
                        <span class="badge pull-right">11</span>
                        <i class="fa fa-ticket fa-fw"></i> <strong>All</strong>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span class="badge pull-right">11</span>
                        <i class="fa fa-exclamation-triangle fa-fw"></i> <strong>InActive</strong>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span class="badge pull-right">11</span>
                        <i class="fa fa-folder-open-o fa-fw"></i> <strong>Active</strong>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span class="badge pull-right">0</span>
                        <i class="fa fa-folder-o fa-fw"></i> <strong>Others</strong>
                    </a>
                </li>
            </ul>
            <!-- END Menu Content -->
        </div>
    </div>
    <div class="col-sm-8 col-lg-9">

        <!-- Tickets Block -->
        <div class="block">
            <!-- Tickets Title -->
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Settings"><i class="fa fa-cog"></i></a>
                </div>
                <ul class="nav nav-tabs" data-toggle="tabs">
                    <li class="active"><a href="#tickets-list">Today Status</a></li>
                    <li><a href="#tickets-single">Products</a></li>
                </ul>
            </div>
            <!-- END Tickets Title -->
            <!-- Tabs Content -->
            <div class="tab-content">
                <!-- Tickets List -->
                <div class="tab-pane active" id="tickets-list">
                    <div class="block-content-full">
                        <div class="table-responsive remove-margin-bottom">
                            <table class="table table-striped table-vcenter remove-margin-bottom" id="recent-orders">
                                <thead>
                                    <tr>
                                        <th>Employee ID</th>
                                        <th>Employee Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        @*<div class="text-center">
                                <ul class="pagination">
                                    <li class="disabled"><a href="javascript:void(0)"><i class="fa fa-chevron-left"></i></a></li>
                                    <li class="active"><a href="javascript:void(0)">1</a></li>
                                    <li><a href="javascript:void(0)">2</a></li>
                                    <li><a href="javascript:void(0)">3</a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </div>*@
                    </div>
                </div>
                <!-- END Tickets List -->
                <!-- Ticket View -->
                <div class="tab-pane" id="tickets-single">
                    @*<div class="block-content-full">
                            <div class="table-responsive remove-margin-bottom">
                                <table class="table table-bordered table-hover table-striped table-vcenter" id="ecom-orders">
                                    <thead>
                                        <tr>
                                            <th>EmployeeID</th>
                                            <th>d1</th>
                                            <th>d2</th>
                                            <th>d3</th>
                                            <th>d4</th>
                                            <th>d5</th>
                                            <th>d6</th>
                                            <th>d7</th>
                                            <th>d8</th>
                                            <th>d9</th>
                                            <th>d10</th>
                                            <th>d11</th>
                                            <th>d12</th>
                                            <th>d13</th>
                                            <th>d14</th>
                                            <th>d15</th>
                                            <th>d16</th>
                                            <th>d17</th>
                                            <th>d18</th>
                                            <th>d19</th>
                                            <th>d19</th>
                                            <th>d20</th>
                                            <th>d21</th>
                                            <th>d21</th>
                                            <th>d22</th>
                                            <th>d23</th>
                                            <th>d24</th>
                                            <th>d25</th>
                                            <th>d27</th>
                                            <th>d28</th>
                                            <th>d29</th>
                                            <th>d30</th>
                                            <th>d31</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>*@
                </div>
                <!-- END Ticket View -->
            </div>
            <!-- END Tabs Content -->
        </div>
        <!-- END Tickets Block -->

        <div class="block full">
            <!-- All Orders Title -->
            <div class="block-title">
                @*<div class="block-options pull-right">
                        <a href="#" class="btn btn-sm btn-primary" data-toggle="modal"><i class="fa fa-plus"></i> Add New Item</a><br>
                    </div>*@
                <h2><strong>Date Wise Attendance List</strong></h2>
            </div>

            <div class="table-responsive">
                <table id="ecom-orders" class="table table-bordered table-hover table-striped table-vcenter">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>EmployeeID</th>
                            <th>d1</th>
                            <th>d2</th>
                            <th>d3</th>
                            <th>d4</th>
                            <th>d5</th>
                            <th>d6</th>
                            <th>d7</th>
                            <th>d8</th>
                            <th>d9</th>
                            <th>d10</th>
                            <th>d11</th>
                            <th>d12</th>
                            <th>d13</th>
                            <th>d14</th>
                            <th>d15</th>
                            <th>d16</th>
                            <th>d17</th>
                            <th>d18</th>
                            <th>d19</th>
                            <th>d19</th>
                            <th>d20</th>
                            <th>d21</th>
                            <th>d21</th>
                            <th>d22</th>
                            <th>d23</th>
                            <th>d24</th>
                            <th>d25</th>
                            <th>d27</th>
                            <th>d28</th>
                            <th>d29</th>
                            <th>d30</th>
                            <th>d31</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td></td>
                            <td><a href="#">1004</a></td>
                            <td><span class="label label-success">P</span></td>
                            <td><span class="label label-success">P</span></td>
                            <td><span class="label label-success">P</span></td>
                            <td><span class="label label-danger">A</span></td>
                            <td><span class="label label-info">L</span></td>
                            <td><span class="label label-primary">W</span></td>
                            <td><span class="label label-success">P</span></td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a href="#">1004</a></td>
                            <td><span class="label label-success">P</span></td>
                            <td><span class="label label-success">P</span></td>
                            <td><span class="label label-success">P</span></td>
                            <td><span class="label label-danger">A</span></td>
                            <td><span class="label label-info">L</span></td>
                            <td><span class="label label-primary">W</span></td>
                            <td><span class="label label-success">P</span></td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>

                    </tbody>

                </table>
            </div>


        </div>
    </div>
</div>
<script src="~/Assets/js/vendor/jquery.min.js"></script>
@section Scripts{
    <script>
        $(function () {
            EcomOrders.init();
        });

        var EcomOrders = function () {

            return {
                init: function () {
                    /* Extend with date sort plugin */
                    $.extend($.fn.dataTableExt.oSort, {
                        "date-custom-pre": function (a) {
                            var customDate = a.split('/');
                            return (customDate[2] + customDate[1] + customDate[0]) * 1;
                        },

                        "date-custom-asc": function (a, b) {
                            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                        },

                        "date-custom-desc": function (a, b) {
                            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                        }
                    });

                    /* Initialize Bootstrap Datatables Integration */
                    App.datatables();

                    /* Initialize Datatables */
                    $('#ecom-orders').dataTable({
                        columnDefs: [
                            { type: 'date-custom', targets: [3] },
                            { orderable: false, targets: [3] }
                        ],
                        order: [[1, "desc"]],
                        pageLength: 20,
                        lengthMenu: [[10, 20, 30, -1], [10, 20, 30, 'All']],
                        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                            //debugger;
                            var index = iDisplayIndexFull + 1;
                            $("td:first", nRow).html(index);
                            return nRow;
                        },
                    });

                    /* Add placeholder attribute to the search input */
                    $('.dataTables_filter input').attr('placeholder', 'Search');
                }
            };
        }();
    </script>
}

